 
 <h1>一覧</h1>
 <tbody>
            <% @rooms.each do |room| %>

             <tr>
                    <td><%= link_to room.room_name, room_path(room.id) %></td>
                    <td><%= room.room_content %></td>
                    <td><%= room.room_price %></td>
                    <td><%= room.created_at.to_s(:datetime_jp) %></td>
                </tr>
                <%end%>   
        </tbody>
   

