<div class="container show">
    <div class="show-detail">
        <div class="show-image">
        <%= @room.image %>
        <% end %>
         <div class="show-profile">
            <div class="show-name">
                <p class="name"><%= @room.room_name %></p>
                <p class="addres"><%= @room.room_address %></p>
            </div>
        </div>
         <p class="content"><%= @room.room_content %></p>
        </div>
   </div>
</div>