// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .room-index{
    padding: 30px 60px;
    position: relative;
}

.table{
    border-collapse: collapse;
}

.room-index{
    padding: 30px 60px;
    position: relative;
}


.room-index table{
    max-width: 800px;
}

.room-index thead th{
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
}

.room-index tbody td{
    padding: 13px;
}
